<!DOCTYPE html>

<html>
  <head>
    <title>FAQ</title>
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/faq_css.css" />
  </head>

  <body>
    <h1>FAQ's</h1>

    <section>
      <div class="container">
        <div class="accordion">
          <div class="accord-item" id="ques1">
            <a class="accord-link" href="#ques1">
              What is the pincode of IIITA?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="ans">
              <p>The pincode of IIITA is 211012.</p>
            </div>
          </div>

          <div class="accord-item" id="ques2">
            <a class="accord-link" href="#ques2">
              What are the facilities in IIIT Allahabad?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="ans">
              <p>
                There are various facilities like Campus network, Dining, Sports
                Facility, Swimming Pool, Medical facility, etc.
              </p>
            </div>
          </div>

          <div class="accord-item" id="ques3">
            <a class="accord-link" href="#ques3">
              What is the speciality in IIITA?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="ans">
              <p>
                The speciality in IIITA is Night Canteen which is very rare in
                other colleges.
              </p>
            </div>
          </div>

          <div class="accord-item" id="ques4">
            <a class="accord-link" href="#ques4">
              How much days is sufficient to fully explore in IIITA?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="ans">
              <p>
                If you want to fully explore the campus then 2 days are more
                than enough to roam in campus.
              </p>
            </div>
          </div>

          <div class="accord-item" id="ques5">
            <a class="accord-link" href="#ques5">
              When the fest will held?
              <i class="icon ion-md-add"></i>
              <i class="icon ion-md-remove"></i>
            </a>
            <div class="ans">
              <p>
                There are various fests but generally main fests held in feb,
                may and dec months.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
